.container {
    margin-left: 10vw;
    margin-right: 10vw;
}

.window-body, .title-bar-text, ul, li, a, form, input, textarea {
    font-size: 16px;
}

.window {
    zoom: 1.5;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.window-body {
    flex-grow: 1;
    overflow-y: auto;
}

form {
    text-align: center;
}

input[type="text"], textarea {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}

.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.entry-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#entries {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.entry .entry-input,
.entry .entry-textarea {
    background-color: white !important;
}
