:root {
    --page-size: min(70vw, 70vh);
}

body {
    height: 95vh;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    perspective: var(--page-size);
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure {
    width: var(--page-size);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.page {
    height: var(--page-size);
    width: var(--page-size);
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 20px;
    align-items: center;
}

.page:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
}

.page-title {
    background-color: white;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
}

.page-body {
    background-color: white;
    border: 1px solid black;
    height: calc(100% - 53px);
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow-y: hidden;
}

.jump {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    align-content: center;
}

.jump-buttons {
    justify-self: center;
    width: calc(var(--page-size) * 0.965);
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
}

#home-body {
    text-align: center;
}

.nav {
    margin-top: calc(0.1 * var(--page-size));
}

#guestbook-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-element {
    width: 100%;
    max-width: 400px;
    resize: none;
}

#guestbook-buttons {
    display: flex;
    justify-content: center;
}

.guestbook {
    max-height: calc(0.57 * var(--page-size));
    overflow-y: scroll;
}

.guestbook-entry {
    padding-right: 1%;
}

.guestbook-entry-info {
    display: flex;
    justify-content: space-between;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin: 0;
}

.guestbook-author {
    text-align: left;
    margin: 2px;
    padding-top: 2px;
    padding-bottom: 5px;
}

.guestbook-date {
    text-align: right;
    margin: 2px;
    padding-top: 2px;
    padding-bottom: 5px;
}

.guestbook-text {
    text-align: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin: 0;
    margin-top: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}

li {
    list-style-type: none;
    border-left: 2px solid #000;
    margin-left: 1em;
}

li div {
    padding-left: 1em;
    position: relative;
}

li div::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    bottom: 50%;
    width: 0.75em;
    border: 2px solid #000;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
}

ul > li:last-child {
    border-left: 2px solid transparent;
}