#container {
    grid-template-columns: 0.5fr 1fr 108px;
    grid-template-rows: 0fr 1fr 0fr;
    margin-right: 100px;
    margin-left: 100px;
    display: grid;
    grid-gap: 10px;
    height: 97vh;
}

#window-title {
    grid-row: 1;
    grid-column: 1 / span 3;
}

#window-directory {
    grid-row: 2;
    grid-column: 1;
}

#window-updates {
    grid-row: 2 / span 2;
    grid-column: 2;
}

#window-banners {
    grid-row: 2 / span 2;
    grid-column: 3;
    width: 108px;
    justify-self: right;
}

#window-banners img {
    display: block;
    margin: 5px;
}

#window-music {
    grid-row: 3;
    grid-column: 1;
}

#stats {
    color: white;
}

#window-updates-body {
    text-align: left;
    padding: 5px;
}

.button-container {
    margin: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%
}

#current-song {
    overflow: hidden;
    white-space: nowrap;
}

#song-container {
    margin: 5px;
    padding-bottom: 5px;
    width: 15em;
    white-space: nowrap;
}

.marquee {
    display: inline-block;
    animation: marquee 10s linear infinite;
}
  
@keyframes marquee {
    0% {transform: translateX(0%);}
    50% {transform: translateX(0%);}
    75% {transform: translateX(-200%);}
    75.00001% {transform: translateX(200%);}
}

#window-music-titlebar {
    overflow: hidden;
}

.music-button-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    max-width: 100%
}

#window-body-music {
    overflow: hidden;
}

#stats {
    color: var(--secondary-color);
}

#window-radio {
    visibility: hidden;
}

#radio-button:checked ~ #window-radio {
    visibility: visible;
    position: absolute
}

#window-radio {
    z-index: 9999; /* Set a high z-index to make it appear above other elements */
    position: fixed;
    top: 30%;
    left: 30%;
    right: 30%;
    bottom: 30%;
    background-color: var(--primary-color);
}

#radio-button {
    position: absolute;
    left: -100vw;
}