.bulb-container{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    transform-origin: top;
    margin-right: 10%;
    margin-top: -10%;
}

.wire{
    width: 4px;
    height: 250px;
    background: black;
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
    z-index: 1;
}

.connector{
    background: #292929;
    width: 30px;
    aspect-ratio: 4/5;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}

.grove{
    background: #424242;
    width: 34px;
    height: 3px; 
    z-index: 3;
}

.bulb{
    margin-top: -2px;
    width: 92px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #ffeb00;
    border: 1px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: -1px;
    z-index: 1;
    animation: flash 10s linear infinite;
    background: rgba(255,235,0,1);
}


@keyframes flash{
    0%{
      box-shadow: 0px 0px 75px 30px rgba(245,223,77,1);
    }
    25%{
      box-shadow: 0px 0px 30px 15px rgba(245,223,77,0.5);
    }
    50%{
      box-shadow: 0px 0px 75px 30px rgba(245,223,77,1);
    }
    75%{
      box-shadow: 0px 0px 30px 15px rgba(245,223,77,0.5);
    }
    100%{
        box-shadow: 0px 0px 75px 30px rgba(245,223,77,1);
    }
}