:root {
    --project-size: 350px;
}

body {
    background-color: white;
    color: black;
}

.window, .window-titlebar, .window-body, .description {
    font-size: 20px;
}

.projects {
    perspective: var(--project-size);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure {
    width: var(--project-size);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.window {
    height: var(--project-size);
    width: var(--project-size);
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    text-transform: lowercase;
    &:not(:first-of-type) {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.window-titlebar {
    background-color: white;
    border: 1px solid black;
    margin: 5px;
    margin-bottom: 0px;
    text-align: center;
}

.window-body {
    background-color: white;
    border: 1px solid black;
    height: 88%;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.description {
    margin-top: auto;
}